@import "tailwindcss";

@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb) var(--scroll-track);
  }

  *::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  *::-webkit-scrollbar-track {
    background-color: var(--scroll-track);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 9999px;
  }
}

html {
  scroll-behavior: smooth;
}

/* Default Light Theme */
:root {
  --bg-color: #f3f4f6; /* Tailwind bg-gray-100 */
  --text-color: #1f2937; /* Tailwind text-gray-900 */
  --form-bg: #DEDEDE54; /* Tailwind bg-white */
  --input-bg: #d8d8d8f7; /* Tailwind input background */
  --input-text: #000000;
  --button-bg: #204580ff; /* Tailwind bg-blue-500 */
  --button-bg-hover: #4067a7ff; /* Tailwind bg-blue-500 */
  --theme-bg: #050505c7; /* Tailwind bg-blue-500 */
  --button-text: #ffffff;
  --emoji-color: #1b1b1bff;
  --background-gradient: linear-gradient(135deg, #C6C6C6FF, #ffffff);
  --scroll-thumb: theme('colors.zinc.700'); /* light thumb */
  --scroll-track: theme('colors.zinc.100'); /* light track */ /* slate-100 */ 
}

/* Dark Theme */
.dark {
  --bg-color: #232323ff; /* Tailwind bg-zinc-900 */
  --text-color: #e5e7eb; /* Tailwind text-gray-200 */
  --form-bg: #3030304f; /* Slightly lighter dark bg */
  --input-bg: #272626d0; /* Darker input */
  --input-text: #e5e7eb;
  --button-bg: #204580ff; /* Tailwind bg-blue-500 */
  --theme-bg: #eaeaeae4; /* Tailwind bg-blue-500 */
  --button-text: #ffffff;
  --emoji-color: #ecececff;
  --background-gradient: linear-gradient(135deg, #353535FF, #080808FF);
  --scroll-thumb: theme('colors.zinc.300'); /* dark thumb */
  --scroll-track: theme('colors.zinc.800'); /* dark track */ /* slate-800 */
}

/* Smooth transitions */
* {
  transition: background-color 0.3s, color 0.3s;
}

.input-style {
  @apply w-full p-2 border rounded-lg bg-[var(--input-bg)] text-[var(--input-text)];
}

.btn-primary {
  @apply bg-[var(--button-bg)] text-white font-semibold p-2 rounded-lg hover:bg-[var(--button-bg-hover)];
}
